
<!--include ../../mixins/pagination-->{{ $baseurl := .Site.BaseURL }}
<article class="boxCard {{ if .Params.tileImage }}deferred{{ end }} {{ if .Params.featured }}featured{{ end }}">
  <div class="card inner dib zm">
    <blockquote class="quotePost">{{ if .Params.monospaced }}<span class="monospaced">{{ .Content }}</span>
      {{ else }}
      {{ .Content }}
      {{ end }}
      <footer class="width-100">
        {{ if .Params.quoteauthor }}
        &mdash; <span class="nowrap">{{ .Params.quoteauthor }}{{ if .Params.quotesource}},{{ end }}</span>
        {{ end }}
        <em class="nowrap">{{ .Params.quotesource }}</em>
        {{ if .Params.quotedate}}
        , {{ .Params.quotedate }}
        {{ end }}
      </footer>
    </blockquote>
    <div class="right"><a class="pure-button button-inverse permalink" href="{{ .Permalink }}" title="Permalink to this post">&infin;</a>
    </div><span class="cb"></span><span class="cb"></span>
  </div>
</article>