//include ../../mixins/pagination
include ../../mixins/navigation
include ../../mixins/card

| {{ $baseurl := .Site.BaseURL }}

+card
    blockquote.quotePost
        | {{ if .Params.monospaced }}
        span.monospaced {{ .Content }}
        | {{ else }}
        | {{ .Content }}
        | {{ end }}
        footer.width-100
            | {{ if .Params.quoteauthor }}
            | &mdash; <span class="nowrap">{{ .Params.quoteauthor }}{{ if .Params.quotesource}},{{ end }}</span>
            | {{ end }}
            | <em class="nowrap">{{ .Params.quotesource }}</em>
            | {{ if .Params.quotedate}}
            | , {{ .Params.quotedate }}
            | {{ end }}
    .right
        +permalink('{{ .Section }}')
    span.cb
