extends ../base
include ../../mixins/navigation
include ../../mixins/article
include ../../mixins/card

block content
    | {{ $baseurl := .Site.BaseURL }}
    article
        +titlecrumbs('{{ .Title }}', '{{ .Section }}')
        section.article.animated.fadeIn
            | {{ if .Params.vimeo }}
            p
                +vimeoPlayer(1200)
            | {{ end }}
            +articleImage
            +articleDescription
            blockquote.quotePost.quotePage
                | {{ if .Params.monospaced }}
                span.monospaced {{ .Content }}
                | {{ else }}
                | {{ .Content }}
                | {{ end }}
                footer
                    | {{ if .Params.quoteauthor }}
                    | &mdash; <span class="nowrap">{{ .Params.quoteauthor }}{{ if .Params.quotesource}},{{ end }}</span>
                    | {{ end }}
                    | <em class="nowrap">{{ .Params.quotesource }}</em>
                    | {{ if .Params.quotedate}}
                    | , {{ .Params.quotedate }}
                    | {{ end }}

    footer.post-footer
        +articleTags
        +articleShare

    +articleComments

block footer