@charset "UTF-8";
// TODO: Make this not feel silly and slow
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  nav.breadcrumb {
    animation-duration: 0.2s !important;
  }
  &.slow {
    animation-duration: 0.5s;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
}

/*
?/ TODO: When barba transitions are in
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}*/
