$breakpoint-phone: 30em;
$breakpoint-tablet: 50em;
$breakpoint-desktop: 70em;

$color-green-85: #95D936;
$color-green-72: #7EB72D;

$color-yellow-100: #FFC336;

$color-gray-97: #F2F3F5;
$color-gray-90: #E1E2E6;
$color-gray-85: #D4D5D9;
$color-gray-65: #9D9FA6;
$color-gray-50: #737580;
$color-gray-40: #595B66;
$color-gray-25: #363740;
$color-gray-15: #1F2026;

$color-primary-default: $color-green-85; /* Light */
$color-primary-active: $color-green-72; /* Dark */

$color-accent-default: #983c5a; /* Light */
$color-accent-dim: rgba(152, 60, 90, 0.6);
$color-accent-active: #a84c6a; /* Dark */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 0.35em;
  background-color: rgba(220, 220, 220, 0.4);
  border: 1px solid rgba(220, 220, 220, 0.9);
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right {
  text-align: right;

}

$black: #222;

$color-primary: #D99536;
$color-text: $black;
.card h3 a {
  &:hover {
    color: $color-primary;

  }
}

div.sectionLink {
  display: inline;
  font-family: 'Noto Sans', Roboto Slab, serif;
  color: $color_primary;
  font-weight: 300;
  font-size: 0.8em;
  margin-right: 0.25em !important;
  a {
    text-decoration: none;
    color: #666;
    font-weight: 300;
    &:hover {
      color: $color_primary;
    }
  }
  &:before, &:after {
    content: '/';
  }
  &:hover {
    color: #666;
  }
}

.breadcrumb {
  border-bottom: 0 solid $color-primary;
  border-radius: 0;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  max-height: 2.5em;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
  //white-space: nowrap;
  font-family: "Roboto Slab", serif;

  p {
    margin: 1.5em 0;
  }

  a {
    display: inline;
    padding: 0.5em 0 0.25em 0;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;

  }
  a:hover {
    color: $color-primary
  }

}

.pagination {
  .inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  &.old-pagination {
  }
  &.new-pagination {
    .inner {
      justify-content: space-between;
    }
    .pagination-info {
      text-align: center;
    }
  }
  .pagination-info {
    width: 90% !important;
  }
}

h4.pagination-info {
  white-space: nowrap;
}

a.pagination-item {
  color: #555 !important;
  margin: 1.5em;
  &:hover {
    color: $color-primary !important;
  }

  &.pagination-prev {
    &:after {
      content: ' ›' !important;
      //margin-right: 0.1em;
      //margin-left: 0.1em;
      color: $color-primary !important;
      font-weight: 300;
      font-size: 1.2em;
    }
  }
  &.pagination-next {
    &:before {
      content: '‹ ' !important;
      //margin-right: 0.1em;
      //margin-left: 0.1em;
      color: $color-primary !important;
      font-weight: 300;
      font-size: 1.2em;

    }
  }
}

a.breadcrumb-link {
  color: #555 !important;
  &:hover {
    color: $color-primary !important;
  }

}

.tag-link {

  text-decoration: none;
  //opacity: 0;
  //visibility: hidden;
  //position: absolute;
  transition: all 0.2s;
  white-space: nowrap;
  z-index: 0;
  display: inline;
  margin: 0.25em 0.25em;
  &:before {
    content: '#' !important;
    //margin-right: 0.1em;
    //margin-left: 0.1em;
    color: $color-primary !important;
    font-weight: 300;
    font-size: 1.2em;
  }
}

.breadcrumb-link {

  text-decoration: none;
  //opacity: 0;
  //visibility: hidden;
  //position: absolute;
  transition: all 0.2s;
  //white-space: nowrap;
  z-index: 0;
  display: inline;
  &:before {
    content: '/';
    //margin-right: 0.1em;
    //margin-left: 0.1em;
    color: $color-primary !important;
    font-weight: 300;
  }
}

//
//.breadcrumb--active {
//  //color: $color-primary;
//  color: #a61;
//  text-decoration: none;
//  font-weight: 700;
//  position: relative;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//  padding-right: 22px !important;
//
//  &:before {
//    content: '/';
//    //margin-right: 0.1em;
//    //margin-left: 0.1em;
//    color: $color-primary;
//    font-weight: 300;
//  }
//
//  &:after {
//    content: '\25BE';
//    position: absolute;
//    right: 0px;
//    z-index: 1;
//  }
//}
//
//.breadcrumb-close {
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  visibility: hidden;
//  z-index: 10;
//
//  &:after {
//    content: '\25B4';
//    color: #D99536;
//  }
//
//}

@media (min-width: $breakpoint-phone) {

  .breadcrumb {
    border: none;

    a {
      //display: inline;
      //padding: 0em;
    }

  }

  .breadcrumb-link {
    display: inline;
    opacity: 1;
    visibility: visible;
    position: static;
    margin-left: 0em;
    color: #666;
    //&:after {
    //	content: '/';
    //	margin-left: 0.25em;
    //	margin-right: -1em;
    //	color: #b97516;
    //	font-weight: 300;
    //	font-family: "Roboto Slab";
    //}

  }

  .breadcrumb--active {
    pointer-events: none;
    //&:before { content: '\25C4'}

    &:after {
      content: none;
    }

  }

  .breadcrumb-close {
    display: none !important;
  }
}

.highlight {
  background: rgba(240, 240, 240, 0.4) !important;
}

.vimeoPlayer {

  cursor: pointer;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-size: cover;

  .play-button {
    height: 6em;
    width: 6em;
    //background-color: #D99536FF;
    border-radius: 0.5em;
    position: relative;
    margin: 0 !important;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0.5em;
      left: 1em;
      margin: 0 auto;
      margin: 0 auto;
      border-style: solid;
      border-width: 2em 0 2em 4em;
      border-color: transparent transparent transparent rgba(240, 240, 240, 0.66);
      //transition: all 0.15s ease-in;
    }
  }

  &:hover {
    .play-button {
      //border-radius: 6em;
      //background-color: #D9953666;
      transform: scale(1.2);
      transition: all 0.1s ease;

      &:after {
        border-color: transparent transparent transparent rgba(240, 240, 240, 1);
        //  border-width: 3em 0 3em 6em;
        //  top: -0.5em;
        //  left: 0em;
      }
    }
  }
}
cite.pullquote {
  background:rgba(240,240,240,0.2);
  border-left: 0.1em solid rgba(217, 149, 54, 0.5);
  margin: 1.5em 1em 1.5em 0;
  padding: 0.5em 1em 0.5em 0.6em;
  quotes: "\201C""\201D""\2018""\2019";
  color: #555;
  font-style: normal;
  display: inline-block;
  .citeSource {
    text-align: left;
    text-indent: 1.5em;
    margin-top: 1.5em;
    margin-left: 0;
    font-style: italic;
    font-weight: 600;
  }
  &::before {
    //color: rgba(50,50,50,0.2);
    color: hsla(35, 68%, 40%, 0.75);
    content: open-quote;
    font-size: 4.5em;
    line-height: 0.1em;

    margin-right: 0.15em;
    font-style: italic;
    font-weight: 300;
    vertical-align: -0.4em;
    font-family: Noto Sans;
  }
  span {
    display: inline-block;
    text-indent: 1.75em;
    margin-left: 1em;
    margin-top: -1.5em;
    font-family: 'Noto Sans';
    /*&:after {
      content: '';
      position: relative;
      left: 0;
      top: 1em;
      width: 1.5em;
      display: block;
      //margin-bottom: -2px;
      border-bottom: 0.2em solid rgba(217, 149, 54, 0.75);
    }*/
  }
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery {
  height: 840px;
}
.gallery-top {
   height: 80%;
   width: 100%;
 }
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  .swiper-slide {
    background-size: cover;

  }
}
.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.fullscreen {
  position: absolute;
  top: 15px;
  right: 15px;
}