// -> styles/colours
$color_gallery_approx: rgb(237, 237, 237);
$color_boston_blue_approx: rgb(61, 146, 201);
$color_river_bed_80_approx: rgba(61, 79, 93, 0.8);
$white: rgb(255, 255, 255);
$color_jungle_mist_approx: rgb(176, 202, 219);
$color_silver_chalice_approx: rgb(170, 170, 170);
$color_log_cabin_approx: rgb(34, 34, 34);
$color_tundora_approx: rgb(68, 68, 68);
$color_mountain_mist_approx: rgb(153, 153, 153);
$color_fern_approx: rgb(90, 186, 89);
$color_havelock_blue_approx: rgb(77, 133, 209);
$color_deluge_approx: rgb(129, 86, 167);
$color_amaranth_approx: rgb(223, 45, 79);
$color_mine_shaft_approx: rgb(51, 51, 51);
$color_celeste_approx: rgb(204, 204, 204);
$color_silver_5_approx: rgba(190, 190, 190, 0.05);
$color_quicksand_20_approx: rgba(190, 160, 140, 0.2);
$black_15: rgba(0, 0, 0, 0.15);
$color_malachite_approx: rgb(28, 184, 65);
$color_flush_mahogany_approx: rgb(202, 60, 60);
$color_christine_approx: rgb(223, 117, 20);
$color_boston_blue_90_approx: rgba(61, 146, 201, 0.9);
$color_masala_80_approx: rgba(60, 60, 60, 0.8);
$color_gallery_25_approx: rgba(240, 240, 240, 0.25);
$color_fire_bush_approx: rgb(217, 149, 54);
$color_astral_90_approx: rgba(41, 116, 171, 0.9);
$color_gallery_75_approx: rgba(240, 240, 240, 0.75);
$color_tapa_approx: rgb(119, 119, 119);
$color_gallery_66_approx: rgba(240, 240, 240, 0.66);
$color_picton_blue_approx: rgb(91, 176, 231);
$color_fuscous_gray_20_approx: rgba(105, 105, 105, 0.1);

// -> styles/document
* {
  box-sizing: border-box;
}

html {
  //height: 100%;
  //min-width: 480px;
  background-color: #ededed;
}

html.loaded {
  background-color: #ededed;
}

html body {
  background-color: #ededed;
}

html body .page-wrap {
  //background: rgba(237, 237, 237, 0.0);
  background-color: #ededed;
  background-image: url(../../../../../probe/lith/static/img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: 100%;
  background: #ededed;
  overflow-x: hidden;
}


.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
  padding: 1em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

// -> end styles/document

h3 {
  font-weight: 100;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.brand-title {
  margin: 0 -0.5rem;
  font-family: Roboto Slab;
}

strong.strapline {
  margin-bottom: 1em;
  position: relative;
  top: -0.5em
}
.boxCard.featured {
  background: rgba(240,240,240,0.1)
}
.content-subhead {
  text-transform: uppercase;
  color: $color_silver_chalice_approx;
  border-bottom: 1px solid $color_gallery_approx;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  min-height: 100vh;
}

.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: $color_log_cabin_approx;
  margin-bottom: 0.2em;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post-description {
  font-family: Georgia, Cambria, serif;
  color: $color_tundora_approx;
  line-height: 1.8em;
}

.post-meta {
  color: $color_mountain_mist_approx;
  font-size: 90%;
  margin: 0;
  font-family: Noto Sans, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: $white;
  background: $color_mountain_mist_approx;
  font-size: 80%;
}

.post-category-design {
  background: $color_fern_approx;
}

.post-category-pure {
  background: $color_havelock_blue_approx;
}

.post-category-yui {
  background: $color_deluge_approx;
}

.post-category-js {
  background: $color_amaranth_approx;
}

.post-images {
  margin: 1em 0;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: $white;
  text-shadow: 0 1px 1px $color_mine_shaft_approx;
}

.tagCloud {

}

.post-tags {
  //display: flex;
  //flex-direction: row;
  //align-items: flex-start;
  //justify-content: flex-start;
  flex-wrap: wrap;
  width: 85%;
  margin: 1em auto 1.5em;
  display: -webkit-flex;
  display: flex;
  //-webkit-flex-direction: row /* works with row or column */
  flex-direction: row;
  //-webkit-align-items: center;
  align-items: center;
  //-webkit-justify-content: center;
  justify-content: center;
}

.post-footer {
  padding: 0.5em;
}

/*
article.single section.article p:last-of-type {
  &:after {
    width: 80%;
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 0.2rem;
    display: block;
    margin: 2em auto 0 10%;
  }

}
*/

.footnotes {
  margin-bottom: 1.5em;
}

a.footnote-return {
  background: none !important;
  &:hover {
    background: inherit;
  }
}

.footer {
  text-align: center;
  padding: 1em 0;
  a {
    color: $color_celeste_approx;
    font-size: 80%;
  }
  .pure-menu a {
    &:hover {
      background: none;
    }
    &:focus {
      background: none;
    }
  }
}

.pure-button {
  font-family: Noto Sans, Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  background: $color_silver_5_approx;
  text-decoration: none !important;
  font-weight: 500;
  &.button-inverse {
    //border: $color_masala_80_approx;
    //border-radius: 0.2em;
    font-weight: 600;
    //background: $color_gallery_25_approx;
    //background-color: rgba(240,240,240,0.45);
    background: none;
    color: $color_fire_bush_approx;
    //box-shadow: 1px 3px 5px 0 rgba(240,240,240,0.45);
    border-radius: 0.35em;
    //border: 1px solid rgba(220,220,220,0.6);
    &:hover {
      //background-color: rgba(240,240,240,0.65);
      //box-shadow: 1px 3px 3px 0 $color_fuscous_gray_20_approx;
      background: none;
    }
  }
  &.highlight {
    background-color: rgba(240, 240, 240, 0.45);
    border: 1px solid rgba(120, 120, 120, 0.25);
    &:hover {
      background-color: rgba(250, 250, 250, 1) !important;
      box-shadow: 1px 3px 5px 0 $color_fuscous_gray_20_approx;

    }
  }

  //background-color: rgba(220,220,220,0.3);
  //border: 1px solid rgba(220,220,220,0.6);
  //border-radius: 0.35em;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-success {
  color: $white;
  text-shadow: 0 1px 1px $black_15;
  background: $color_malachite_approx;
}

.button-error {
  color: $white;
  text-shadow: 0 1px 1px $black_15;
  background: $color_flush_mahogany_approx;
}

.button-warning {
  color: $white;
  text-shadow: 0 1px 1px $black_15;
  background: $color_christine_approx;
}

.button-secondary {
  color: $white;
  text-shadow: 0 1px 1px $black_15;
  color: $color_boston_blue_90_approx;
}

.permalink {
  width: 4em;
  text-align: center;
  font-family: Noto Sans, Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    &:after {
      content: ' ›';
      color: $color_silver_chalice_approx;
    }
    &:before {
      content: '‹ ';
      color: $color_silver_chalice_approx;
    }
  }
}

.permalink-wide {
  width: 7em;
  text-align: center;
  font-family: Noto Sans, Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  span {
    color: #666;
    padding: 0 0.2em;
  }
  &:hover {
    span {
      color: $color_fire_bush_approx;
    }
    &:after {
      content: ' ›';
      color: $color_silver_chalice_approx;
    }
    &:before {
      content: '‹ ';
      color: $color_silver_chalice_approx;
    }
  }
}

.size_70 {
  transform: scale(0.7);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.size_80 {
  transform: scale(0.8);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.size_90 {
  transform: scale(0.9);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.size_100 {
  transform: scale(1);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.zoom-overlay-open {
  .size_70 {
    transform: unset;
  }
  .size_80 {
    transform: unset;
  }
  .size_90 {
    transform: unset;
  }
  .size_100 {
    transform: unset;
  }
}

.article a {
  text-decoration: none;
  color: $color_boston_blue_approx;
  &:hover {
  }
  &:focus {
  }
}

.muut-messaging {
  display: none !important;
}

.muut {
  display: flex;
  margin: 1em 0 4em 0;

  .m-list .m-moot {
    background-color: transparent;
  }
  .m-app-loading {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .m-controls {
    button {
      border-radius: 0.1em;
    }
  }
}

.post-share.soc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  a {
  }

}

.soc {
  font-size: 0.5em;
}

.zoom-overlay-open {
  .social-sharing {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
  .tagCloud {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

.social-sharing {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 2em 1em 1em;
  h4 {
    //margin: 0 1em 0 0;
  }

}

.bottom-stroke {

  &:after {
    width: 66%;
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 0.2rem;
    display: block;
    margin: 1.5em auto 1.5em
  }
}

div#moot-logo, div#moot-logo a {
  display: none !important;
}

img.m-face {
  height: auto;
}

textarea.m-postinput {
  height: 12em;
}

a.pure-button {
  &:hover {
    //font-weight: 500;
    background: $color_quicksand_20_approx;
  }
  &.button-tag {
    background: $color_gallery_25_approx;
    color: $color_astral_90_approx;
    &:hover {
      background: $color_gallery_66_approx;
      color: $color_picton_blue_approx;
    }
  }
  &.button-inverse {
    &:hover {
      background: $color_gallery_75_approx;
      color: $color_tapa_approx;
      font-weight: 700;
    }
    &.permalink:hover {
      color: $color_fire_bush_approx;
    }
  }
}

#menu {

  position: absolute;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  padding: 0.5em 0.5em 0 0.5em;
  min-height: 480px;
  box-sizing: border-box;
  //transition: all .5s ease;
  text-align: center;
  //background-color: rgba(80, 62, 55, 0.1);
  opacity: 0;
  display: none;
  visibility: hidden;
  .close {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 1em;
    width: 1em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #888;

    &:hover {
      background: $color_fire_bush_approx;
    }
    &:before {
      position: absolute;
      content: "";
      background-color: #eee;
      top: 0.15em;
      left: 0.5em;
      width: 2px;
      height: 0.7em;
      margin-left: -1px
    }
    &:after {
      position: absolute;
      content: "";
      background-color: #eee;
      margin-top: -1px;
      top: 0.5em;
      left: 0.15em;
      width: 0.7em;
      height: 2px;
    }
  }
  .menulink {
    display: table;
    margin: 0.2em;
    text-align: left;
    padding-left: 1em;
    border: 0 !important;
  }
  a.breadcrumb-link {
    opacity: 1;
    visibility: visible;
    position: static;
    background: transparent;
  }
  nav {
    //border-left: 2px solid rgba(200, 200, 200, 0.3);
    margin-left: 0.4em;
    a {
      display: block;
      //margin: 0.2em;
      text-align: left;
      padding-left: 0.5em;
    }
  }

  .brand {
    height: 1em;
    line-height: .6;
    color: #ddd;
  }
}

.title-pager {
  display: inline;
  color: #aaa;
  padding-left: 0.25em;
  * {
    color: #aaa;
  }
  &.breadcrumb-link {
    &:before, &:after {
      color: #aaa !important;
    }
  }
  > span {
    font-size: 0.8em;

    //padding-right: 0.25em;
    //&:before {
    //
    //  content: '(';
    //}
    //&:after {
    //  content: ')';
    //}
  }
}

#menu-switch {
  display: none;
  font-size: 0.5em;
}

#menu-switch:checked ~ #menu {
  left: 0;
  opacity: 1;
  display: block;
  visibility: visible;
  transition: all 1s ease;

  border-right: 1px solid rgba(150, 150, 150, 0.25);
  //background: rgba(215, 215, 215, 1) url(../img/cover.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}

#menu-switch:checked ~ .site-footer {
  overflow: hidden;
  display: none;
  .content {
    //transition: all .3s ease-in;
    margin-left: 260px;
    margin-right: -260px;

  }
}

#menu-switch:checked ~ .page-wrap {
  position: absolute;
  top: 0;
  //bottom: 0;
  left: 260px;
  right: -260px;
  //right: 0;
  //height: 100%;
  overflow: hidden !important;
  transition: background 1s ease;
  #centerBody {
    margin-left: 0px;
    margin-right: -260px !important;
    //overflow: hidden !important;
    opacity: 0.8;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    //padding-right: 8em;
    //overflow: hidden;
    //transition: all .3s ease;
    background-color: rgba(225, 225, 225, 0.8);
  }
}

#menu-switch:checked ~ .page-wrap {
  nav.breadcrumb label.mt {
    visibility: hidden;
  }
}

.page-wrap {
  box-sizing: border-box;
  //transition: all .5s ease;
}

.text-sizes {
  position: absolute;
  bottom: 1em;
  width: 100%;
  padding: 0 1em;
  text-align: right;
  a {
    vertical-align: bottom;
  }
}

#menu-toggle {
  display: inline-block;
  position: relative;
  width: 0.6em;
  height: 0.6em;
  cursor: pointer;
  border: none;
  border-radius: 0.6em;
  background: $white;
  transition: all .5s ease;
  &:focus {
    outline: none;
  }
}

.menu-brand {

  h1 {
    margin: 0 0 0.5em 0;
    padding: 0;
    a {
      color: #555;
      text-decoration: none;
      font-size: 0.85em;
      img {
        opacity: 0.85;
        width: 45%;

        height: auto;
        display: block;
        margin: 0.3em auto 0;
      }
      &:after {
        width: 66%;
        content: '';
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 0.2rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.5em;
      }
    }
  }
}

nav {
  letter-spacing: 0;
  display: block;
}

h1 a.crumb {
  height: 1.2em;
  margin-left: -0.85em;
  width: auto;
}

h1 a.crumb img {
  height: 1.2em;
  width: auto;
  vertical-align: bottom;
  opacity: 0.85;
}

label.mt {
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  position: relative;
  left: -0.8em;
  display: inline;

  span {
    font-size: 0.5em;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    position: relative;
    top: -0.5em;
    margin-right: 0.6em;
    padding-left: 0.4em;
  }
  &:hover {
    color: $color_fire_bush_approx;
    font-weight: 700;
  }
}

@media (max-width: 32em) {
  html.loaded {
    body .page-wrap {
      background-image: none;
      background-color: #ededed;
    }
  }

}

@media (max-height: 36em) {
  .hide-vsm {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

@media (max-height: 52em), (max-width: 60em) {
  #menu .root-item {
    display: none !important;
  }
  .menu-brand {

    h1 {
      margin: 0.3em 0 0 0;
      padding: 0;
      a {
        font-size: 0.6em;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          opacity: 0.85;
          width: 2em;
          height: auto;
          display: inline;
          margin: 0 0.2em 0 0.2em;
        }
        &:after {
          display: none;
        }
      }
      &:after {
        width: 66%;
        content: '';
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 0.2rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
      }
    }

  }
}

@media (max-width: 32em) {
  .hide-sm {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

$footer_height: 20em;

.page-wrap {
  //min-height: 100%;
  /* equal to footer height */
  //margin-bottom: -$footer_height;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: $footer_height;
  width: 100%;
}

.site-footer {
  letter-spacing: 0;
  .footer-info {
    font-size: 0.66em;
    padding: 1em 2em;
    font-family: Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
    p {
      width: 80%;
    }

  }
  .embed-container {
    height: 50em;
    iframe {
      height: 100%;

    }
  }
  article {
    margin: 0 2%;
  }
  * {
    letter-spacing: normal;
  }
  form {
    padding: 1em;
    width: 100%;
    input[type="text"], textarea, input[type="email"] {
      width: 100%;
    }
  }
}

.nowrap {
  display: inline-block;
}

blockquote.quotePost {

  margin: 0em;

  p {
    font-size: 1.2rem;
    margin: 1.5em 0 0.75em 0;
    padding: 0 0 0.25em 0;

    &:after {
      content: '';
      position: relative;
      left: 0;
      top: 1em;
      width: 1.5em;
      display: block;
      margin-bottom: -2px;
      //border-bottom: 0.15em solid #d99536;
      //border-bottom: 0.15em solid rgba(217, 149, 54, 0.5);
      border-bottom: 0.15em solid rgba(217, 149, 54, 0.85);

    }
  }
  pre {
    font-size: 1.1rem;
    padding-bottom: 1em !important;
    overflow: visible;
    margin: 1.5em 0 0 0;
  }
  code {
    font-size: 1.15rem;
    line-height: 1.8rem;
    background: transparent;
    border: none;
    overflow: visible !important;

    &:after {
      content: '';
      position: relative;
      left: 0;
      top: 1em;
      width: 1.5em;
      display: block;
      margin-top: -2px;
      //border-bottom: 0.15em solid #d99536;
      //border-bottom: 0.2em solid rgba(217, 149, 54, 0.5);
      border-bottom: 0.15em solid rgba(217, 149, 54, 0.85);
      overflow: visible;
    }
  }

  footer {
    color: #666;
    font-size: 1.1rem;
    font-family: Noto Sans;
    text-align: left;
    padding: 1.5em 0.5em 1em 1em;
    .nowrap {
      text-overflow: ellipsis;
    }
    span {
      margin-right: -1em;
    }
    em {
      text-indent: 1.25em;
    }
    .quoteSource {
      &:before {
        content: ', '
      }
    }
  }
}

article.single {
  section.article {
    blockquote {
      span {
        font-size: 1.2rem;
        margin: 2em 0 0.75em 0;
        padding: 0 0 1.5em 0;
        display: block;

        &:after {
          content: '';
          position: relative;
          left: 0;
          top: 1em;
          width: 1.5em;
          display: block;
          //margin-bottom: -2px;
          border-bottom: 0.2em solid rgba(217, 149, 54, 0.75);
        }

      }
      footer {
        text-align: left;
        text-indent: 1.5em;

        &:after {
          width: 80%;
          content: '';
          border-bottom: 1px solid rgba(80, 80, 80, 0.1);
          height: 0.2rem;
          display: block;
          margin: 2em auto 0 10%;
        }
      }
    }
  }
}

article blockquote.quotePost.quotePage {
  footer {
    &:after {
      width: 80%;
      content: '';
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 0.2rem;
      display: block;
      margin: 2em auto 0 10%;
    }
  }
}

.breadcrumb {
  .breadcrumb-link {
    padding-left: 0.1em;
    &:before {
      padding-right: 0.1em;
    }
  }
}

.cardTitle {
  margin-top: 0.25em;
}

.cardDescription {
  margin: 0.25em 0 0 0.25em;
}

form.pure-form {
  margin: 0.75em;

}

.monospaced {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em;
}

.width-100 {
  width: 100%;
}

.cb {
  clear: both;
}

.articleSubtitle {
  margin: 0.75em 0 0.25em 0;
  color: rgb(120, 120, 120)
}

.zm {
  margin: 0;
}

.dib {
  display: inline-block !important;
}
.din {
  display: none;
}
.vimeoPlayer {
  div.videoPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    margin-top: 30% !important;
  }
}

.embed-container {
  display: none;
  background-color: rgb(240, 240, 240);

  iframe {
    background-color: rgb(0, 0, 0);
  }
}

.hs1m {
  margin-left: 1em;
  margin-right: 1em;
}