//colors
$color_mine_shaft_approx: rgb(51, 51, 51);
$color_woodsmoke_approx: rgb(17, 17, 17);
$color_fire_bush_approx: rgb(217, 149, 54);
$color_mule_fawn_approx: rgb(136, 68, 51);
$black_60: rgba(0, 0, 0, 0.6);
$red: rgb(255, 0, 0);
$color_cararra_approx: rgb(238, 238, 234);
$color_storm_dust_approx: rgb(102, 102, 102);
$color_sail_approx: rgb(180, 213, 254);
$white_25: rgba(255, 255, 255, 0.25);
$color_pumice_25_approx: rgba(200, 200, 200, 0.25);
$white_50: rgba(255, 255, 255, 0.5);
$color_pumice_50_approx: rgba(200, 200, 200, 0.5);

html {
  font-size: 15px;
}

.textualContent {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  font-family: Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-weight: 300;
  color: $color_woodsmoke_approx;
  max-width: 94%;
  counter-reset: sidenote-counter;
}

@media(min-width: 1600px) {
  .textualContent {
  }
}

article {
  h1:after {
    content: '';
    position: relative;
    left: 0;
    //bottom: -0.2em;
    width: 1em;
    display: block;
    //margin-bottom: -2px;
    border-bottom: 0.075em solid rgba(217, 149, 54, 0.75);
  }
  &.single article {
    position: relative;
    padding: 2.5rem 0;
  }
}

.article {
  a {
    &:link {
      color: inherit;
      text-decoration: none;
      background: linear-gradient($color_cararra_approx, $color_cararra_approx), linear-gradient($color_cararra_approx, $color_cararra_approx), linear-gradient($color_storm_dust_approx, $color_storm_dust_approx);
      background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0.03em 0 $color_cararra_approx, -0.03em 0 $color_cararra_approx, 0 0.03em $color_cararra_approx, 0 -0.03em $color_cararra_approx, 0.06em 0 $color_cararra_approx, -0.06em 0 $color_cararra_approx, 0.09em 0 $color_cararra_approx, -0.09em 0 $color_cararra_approx, 0.12em 0 $color_cararra_approx, -0.12em 0 $color_cararra_approx, 0.15em 0 $color_cararra_approx, -0.15em 0 $color_cararra_approx;
      background-position: 0 93%, 100% 93%, 0 93%;
    }
    &:visited {
      color: inherit;
    }
    &:link::selection {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0.03em 0 $color_sail_approx, -0.03em 0 $color_sail_approx, 0 0.03em $color_sail_approx, 0 -0.03em $color_sail_approx, 0.06em 0 $color_sail_approx, -0.06em 0 $color_sail_approx, 0.09em 0 $color_sail_approx, -0.09em 0 $color_sail_approx, 0.12em 0 $color_sail_approx, -0.12em 0 $color_sail_approx, 0.15em 0 $color_sail_approx, -0.15em 0 $color_sail_approx;
      background: $color_sail_approx;
    }
    &:link::-moz-selection {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0.03em 0 $color_sail_approx, -0.03em 0 $color_sail_approx, 0 0.03em $color_sail_approx, 0 -0.03em $color_sail_approx, 0.06em 0 $color_sail_approx, -0.06em 0 $color_sail_approx, 0.09em 0 $color_sail_approx, -0.09em 0 $color_sail_approx, 0.12em 0 $color_sail_approx, -0.12em 0 $color_sail_approx, 0.15em 0 $color_sail_approx, -0.15em 0 $color_sail_approx;
      background: $color_sail_approx;
    }
  }
  .post-title:after {
    content: '';
    position: relative;
    left: 0;
    bottom: -0.2em;
    width: 1em;
    display: block;
    margin-bottom: -2px;
    border-bottom: 0.1em solid $color_fire_bush_approx;
  }
}

h1 {
  font-family: Roboto Slab;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
  > span {
    color: $color_mule_fawn_approx;
    font-size: 0.85em;
    font-family: Inconsolata;
    > span {
      color: $black_60;
    }
  }
  > code {
    font-size: 0.80em;
  }
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-family: Roboto Slab;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 2.2rem;
  line-height: 1;
  > code {
    font-size: 0.80em;
  }
}

h3 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1;
  > code {
    font-size: 0.80em;
  }
}

@media(max-width: 32em) {
  html {
    font-size: 12px;
  }
  p {
    font-size: 1.2rem !important;
  }
  h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
    line-height: 1;
  }
  h2 {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1;
  }
  h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1;
  }
}

@media(min-width: 32em) and(max-width: 64em) {
  html {
    font-size: 13px;
  }
  p {
    font-size: 1.3rem !important;
  }
  h1 {
    margin-top: 1.5rem;
    font-size: 2.4rem;
    line-height: 1;
  }
  h2 {
    margin-top: 1.4rem;
    font-size: 2rem;
    line-height: 1;
  }
  h3 {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-family: Noto Sans;
  margin-top: 1rem;
  padding: 0 0.5em 0 0em;
  margin-left: 0.25em;
  display: block;
  line-height: 1;
  font-size: 1.1rem;
}

.card {
  h3 {
    margin-bottom: 1em;
    &:after {
      content: '';
      position: relative;
      left: 0;
      top: 0.2em;
      width: 1em;
      display: block;
      margin-bottom: -0.4em;
      border-bottom: 0.1em solid rgba(217, 149, 54, 0.85);
    }
  }
  h4.subitle {
    font-size: 1rem;
  }
}

.danger {
  color: $red;
}

section {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  > ol {
    width: 45%;
  }
  > ul {
    width: 45%;
  }
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  width: 55%;
}

ol {
  font-size: 1.4rem;
}

ul {
  font-size: 1.4rem;
}

div {
  &.epigraph {
    margin: 5em 0;
    > blockquote {
      margin-top: 3em;
      margin-bottom: 3em;
      font-style: italic;
      > p {
        font-style: italic;
      }
      > footer {
        font-style: normal;
        > cite {
          font-style: italic;
        }
      }
    }
  }
  &.fullwidth {
    width: 100%;
  }
  &.table-wrapper {
    overflow-x: auto;
    font-family: Roboto Slab, Noto Sans, Trebuchet MS, Gill Sans, Gill Sans MT, sans-serif;
  }
}

blockquote {
  font-size: 1.4rem;
  font-family: Roboto Slab;
  p {
    width: 55%;
    margin-right: 40px;
  }
  footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
  }
  .sidenote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
  }
  .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
  }
}

li {
  padding: 0.5rem 0;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  margin: 0 0 3em 0;
  &.fullwidth figcaption {
    margin-right: 24%;
  }
}

figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
  font-weight: 600;
}

@media screen and(-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%;
  }
}

img {
  max-width: 100%;
}

.sidenote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  color: $color_storm_dust_approx;
  &:before {
    content: counter(sidenote-counter) " ";
    position: relative;
    vertical-align: baseline;
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
  }
  > code {
    font-size: 1rem;
  }
}

.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  color: $color_storm_dust_approx;
  > code {
    font-size: 1rem;
  }
}

.sidenote-number {
  counter-increment: sidenote-counter;
  &:after {
    content: counter(sidenote-counter) " ";
    position: relative;
    vertical-align: baseline;
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.75rem;
    left: 0.2rem;
    padding-right: 0.5rem;
  }
}

footer {
  width: 55%;
}

table {
  width: 55%;
  &.fullwidth {
    width: 100%;
  }
}

.sans {
  font-family: Roboto Slab, Noto Sans, Gill Sans, Gill Sans MT, Calibri, sans-serif;
  letter-spacing: .03em;
  > code {
    font-size: 1.2rem;
  }
}

code {
  font-family: monospace;
  font-size: 1.3rem;
  line-height: 2.2rem;
  background: $white_25;
  border: 1px solid $color_pumice_25_approx;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

.initialthought::first-line {
  font-variant: small-caps;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 1.6rem;
}

@media(max-width: 25em) {
  .hide-xsm {
    display: none !important;
  }
}

@media(min-width: 48em) {
  .initialthought::first-letter {
    font-variant: normal;
    font-size: 275%;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    height: 0.9rem;
    line-height: 2.5rem;
    float: left;
    color: $color_mine_shaft_approx;
  }
}

label {
  &.sidenote-number {
    display: inline;
    color: $color_storm_dust_approx;
  }
  &.margin-toggle:not(.sidenote-number) {
    display: none;
  }
}

@media(max-width: 1280px) {
  .textualContent {
    padding-left: 4%;
    padding-right: 4%;
  }
  p {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  ul {
    width: 85%;
  }
  figure {
    max-width: 90%;
    &.fullwidth figcaption {
      margin-right: 0;
      max-width: none;
    }
  }
  figcaption {
    margin-right: 0;
    max-width: none;
  }
  blockquote {
    margin-left: 1.5em;
    margin-right: 0;
    p {
      width: 100%;
    }
    footer {
      width: 100%;
    }
  }
  label {
    cursor: pointer;
    &.margin-toggle:not(.sidenote-number) {
      display: inline;
    }
  }
  .sidenote {
    display: none;
  }
  .marginnote {
    display: none;
  }
  table {
    width: 85%;
  }
  img {
    width: 100%;
  }
  pre.code {
    width: 97%;
  }
  .margin-toggle:checked {
    + .sidenote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
    }
    + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
    }
  }
  div.table-wrapper {
    width: 85%;
  }
}

pre.code {
  font-size: 0.9rem;
  width: 75.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding: 0.5em 1em;
  overflow-x: auto;
  background: $white_50;
  border: 1px solid $color_pumice_50_approx;
  &.fullwidth {
    width: 90%;
  }
}

.initialThought {
  //color:
  //border-left: 0.1em solid rgba(0,0,0,0.1);
  //border-left: 0.1em solid rgba(217, 149, 54, 0.5);
  padding: 0.66em;
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5em;
  margin-left: 0.25em;
  margin-bottom: 2em;
  clear: both;

  //&:first-line {
  //  //font-variant: small-caps;
  //  text-rendering: optimizeLegibility;
  //  font-weight: 400;
  //  font-size: 1.4rem;
  //}

  &:after {
    content: '';
    position: relative;
    left: 0;
    top: 1em;
    width: 20%;
    display: block;
    //margin-bottom: -2px;
    border-bottom: 0.15em solid rgba(217, 149, 54, 0.75);
  }

  //&:after {
  //  display: none !important;
  //}
  //width: 100%;
  //background: linear-gradient(180deg, rgba(245,245,245,0.8), transparent);
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}