//include ../../mixins/pagination
include ../../mixins/navigation
include ../../mixins/card

| {{ $baseurl := .Site.BaseURL }}

+card

    +coverImage

    +vimeoPlayer

    h3.cardTitle

        .sectionLink
            a(href='/{{ .Section }}/') {{ .Section }}

        a(href='{{ .Permalink }}') {{ .Title }}

    | {{ if .Params.subtitle }}
    h4.subtitle
        span {{ .Params.subtitle }}
    | {{ end }}
    p.cardDescription  {{ .Description }}
    //.right
        +permalink
