//include ../../mixins/pagination
include ../../mixins/navigation
include ../../mixins/card

| {{ $baseurl := .Site.BaseURL }}

+card

    +coverImage
    +vimeoPlayer

    h3.cardTitle
        a.breadcrumb-link(href='{{ .Permalink }}') {{ .Title }}

    | {{ if .Params.subtitle }}
    h4.subtitle
        span {{ .Params.subtitle }}
    | {{ end }}

    p.cardDescription {{ .Description }}

    //.right
        +permalink
