extends ../base
include ../../mixins/pagination
include ../../mixins/navigation

block content
    | {{ $baseurl := .Site.BaseURL }}
    | {{ $paginator := .Paginate ( .Data.Pages ) }}
    article.list
        +breadcrumbs('{{ .Title | urlize }}')

        #blocks.animated.fadeIn

            +recently('$paginator')

            +prevPage
            +listItems
            +nextPage