<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--meta(name='viewport', content='width=100%, initial-scale=1, shrink-to-fit=yes, target-densitydpi=device-dpi, user-scalable=no')-->
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, user-scalable=yes, minimum-scale=1.0">
    <title>{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/css/blug.css?138813" rel="stylesheet">
    <!--script(src='/module/system-production.js')-->
    <script src="/js/bundled.js?138813"></script>
    <!--script.
    SystemJS.import('/js/bundle.js');
    
    --> {{if .Site.Params.allowComments }}
    <script src="//cdn.muut.com/1/moot.min.js" async="async"></script>{{ end }}
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/img/manifest.json"/>
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-config" content="/img/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta property="og:title" content="{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}"/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>{{ if .IsPage }}
    <meta property="og:type" content="article"/>
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"/>{{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}"/>
    {{- end -}}
    {{- end -}}
    {{ if .Params.tileImage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.tileImage }}"/>
    {{ else }}
    {{ if .Params.imageurl }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Params.imageurl }}"/>
    {{ end }}
    {{ end }}{{ if .IsPage }}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}"/>
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <meta name="twitter:url" content="{{ .Permalink }}"/>{{ else }}
    <meta property="og:type" content="website"/>{{ end }}{{ if .Description }}
    <meta name="description" content="{{ .Description }}"/>{{ else }}
    <meta name="description" content="{{ .Site.Params.description }}"/>{{ end }}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>{{ if ne .URL '/' }}
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
    {{ end }}
    {{ if .IsNode }}
    <link href="{{.RSSLink}}" rel="alternate" type="application/rss+xml" title="{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }}{{ .Site.Title }}"/>{{end}}
    <!--+prefetchFonts-->
  </head>
  <body id="primary-content">
    <div class="pure-g" id="layout">
      <input id="menu-switch" type="checkbox" name="menu-switch">
      <div class="page-wrap content pure-u-1 pure-u-md-5-5" id="pj-wrap">
        <div class="posts textualContent pj-container" id="centerBody" role="main">
          {{ $baseurl := .Site.BaseURL }}
          {{ $paginator := .Paginate ( .Data.Pages ) }}
          <article class="list">
            <h1 class="animated fadeIn slow">
              <nav class="breadcrumb">
                <label class="mt" for="menu-switch"><span>&#9776;</span></label><a class="crumb" title="{{ .Site.Title }}" href="/"><img src="/img/{{ .Site.Params.icon }}"/></a>{{ if $paginator.HasPrev }}<a class="breadcrumb-link" href="../../">{{ .Title | urlize }}</a><span class="title-pager breadcrumb-link" title="Page {{$paginator.PageNumber}}"><span class="hide-sm">page</span><small> {{$paginator.PageNumber}}</small></span>{{ else }}<span class="breadcrumb-link" title="{{ .Title | urlize }}">{{ .Title | urlize }}</span>{{ end }}
              </nav>
            </h1>
            <div class="animated fadeIn" id="blocks">
              {{ if gt $paginator.TotalPages 1 }}
                {{ if eq $paginator.PageNumber 1 }}
              <div class="recently">
                <h4><em>Recently</em></h4>
              </div>
                {{ end }}
              {{ end }}{{if $paginator.HasPrev}}
              <nav class="pagination new-pagination" id="pagination" role="pagination">
                <div class="recently">
                  <!--a.pure-button.button-small.button-inverse.button-secondary.pagination-item.pagination-next(href='{{ $paginator.Prev.URL }}')span Newer Posts
                  --><a class="pagination-item pagination-next pure-button button-inverse" href="{{ $paginator.Prev.URL }}"><span>Newer</span></a>
                  <!--h4.pagination-info
                  em Page
                      strong  {{ $paginator.PageNumber }}
                      |  of
                      strong  {{ $paginator.TotalPages}}
                  
                  -->
                </div>
              </nav>{{end}}{{ $t2:= .Title }}{{ range $index, $page := $paginator.Pages }}
              {{ if ne .Params.unlisted true }}
              {{ if ne .Section "page" }}
              {{ if eq .Section ($t2 | urlize) }}
              {{ .Render "li_incontext" }}
              {{ else }}
              {{ .Render "li" }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
              <nav class="pagination old-pagination" id="pagination" role="pagination">
                <div class="recently">{{if $paginator.HasNext}}
                  <h4 class="pagination-info"><em>Page<strong> {{ $paginator.PageNumber }}</strong> of<strong> {{ $paginator.TotalPages}}</strong></em></h4><a class="pagination-item pagination-prev pure-button button-inverse" href="{{ $paginator.Next.URL }}"><span>Older</span></a>{{ else }}
                  <h4><em>No more posts</em></h4>{{end}}
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
      <nav id="menu" role="navigation">
        <div class="menu-brand">
          <h1><a href="/"><img src="/img/{{ .Site.Params.icon }}">{{ .Site.Title | urlize }}</a></h1><strong class="strapline">{{ .Site.Params.tagline }}</strong>
        </div>
        <label class="close" id="menu-toggle" for="menu-switch"></label>
        <nav role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if ne .Name "Page" }}<a class="breadcrumb-link pure-button button-inverse menulink" href="{{.URL}}" title="All {{ .Name | urlize }} posts">{{ .Name | urlize}}</a>
          {{ end }}
          {{ end }}
        </nav>
        <div class="recently">
          <h4><em>Other</em></h4>
        </div>
        <nav class="cb" role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.custom }}<a class="breadcrumb-link pure-button button-inverse menulink {{ .Pre }}" href="{{.URL}}">{{ .Name | urlize}}</a>{{ end }}
        </nav>
        <!--+tagsMenu-->
        <!--+textSizes-->
      </nav>{{ if .Site.Params.footer }}
      <footer class="site-footer">
        <article class="pure-g content">
          <section class="l-box-lrg pure-u-1 pure-u-md-5-5">
            <h3>{{ .Site.Params.footerTitle }}</h3>
          </section>
          <section class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <nav role="navigation">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
              {{ if ne .Name "Page" }}<a class="breadcrumb-link pure-button button-inverse menulink" href="{{.URL}}" title="All {{ .Name | urlize }} posts">{{ .Name | urlize}}</a>
              {{ end }}
              {{ end }}
            </nav>
            <div class="recently">
              <h4><em>Other</em></h4>
            </div>
            <nav class="cb" role="navigation">
              {{ $currentPage := . }}
              {{ range .Site.Menus.custom }}<a class="breadcrumb-link pure-button button-inverse menulink {{ .Pre }}" href="{{.URL}}">{{ .Name | urlize}}</a>{{ end }}
            </nav>
          </section>
          <section class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <p class="footerInfo" style="margin: 0 0 0.5em 0; font-size: 0.85em;">{{ .Site.Params.footerText }}</p>
            <nav role="navigation">
              {{ $currentPage := . }}
              {{ range .Site.Menus.footer }}<a class="menulink pure-button button-inverse {{ .Pre }}" href="{{.URL}}">{{ .Name }}</a>{{ end }}
            </nav>
          </section>
        </article>
      </footer>{{ end }}
    </div>
    <!--include bodyScript-->
    {{ if .Site.Params.gaugesId }}
    {{ if .Site.Params.gaugesSrc }}
    <script>
      var _gauges = _gauges || [];
      var gSetup = function () {
          var t = document.createElement('script');
          t.type = 'text/javascript';
          t.async = true;
          t.id = 'gauges-tracker';
          t.setAttribute('data-site-id', '{{ .Site.Params.gaugesId }}');
          t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
          t.src = 'https://{{ .Site.Params.gaugesSrc }}/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
      };
      window.setTimeout(gSetup, 800);
    </script>
    {{ end }}
    {{ end }}
  </body>
</html>