mixin card(type)
    article.boxCard(class='{{ if .Params.tileImage }}deferred{{ end }} {{ if .Params.featured }}featured{{ end }}')
        .card.inner.dib.zm(class=type)
            block
            span.cb

mixin coverImage(altT)
    | {{ if .Params.tileImage }}
    a(href='{{ .Permalink }}')
        | <img src="{{ $.Params.tileImage }}" alt="#{altT}"
        | {{ with (imageConfig (print "static/" .Params.tileImage )) }}
        | width="{{ .Width }}" height="{{ .Height }}" style="height: auto"
        | {{ end }}
        | class="{{ if .Params.transparent }}transparent{{ end }}coverImg" />
    | {{ end }}

mixin vimeoPlayer(size)
    - var sz = size > 0 ? size : 720
    | {{ if .Params.vimeo }}
    .coverImg.vimeoPlayer(id='vw{{.Params.vimeo}}', style='background-image: url(https://i.vimeocdn.com/video/{{.Params.vimeoid}}_' + sz + '.jpg);', onclick='document.getElementById("vw{{.Params.vimeo}}").style.display = "none";document.getElementById("vpf{{.Params.vimeo}}").src = document.getElementById("vpf{{.Params.vimeo}}").getAttribute("offsrc");document.getElementById("vp{{.Params.vimeo}}").style.display = "block";')
        .videoPlay
            .play-button()
    .embed-container(id='vp{{.Params.vimeo}}')
        iframe(id='vpf{{.Params.vimeo}}', offSrc='https://player.vimeo.com/video/{{ .Params.vimeo }}?title=0&autoplay=1&portrait=0&byline=0&color=d99536', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
    | {{ end }}