mixin favIcon
    link(rel='apple-touch-icon', sizes='180x180', href='/img/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/img/favicon-32x32.png' sizes='32x32')
    link(rel='icon', type='image/png', href='/img/favicon-16x16.png' sizes='16x16')
    link(rel='manifest', href='/img/manifest.json')
    link(rel='mask-icon', href='/img/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-config', content='/img/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')