mixin openGraphData
    meta(property='og:title', content!='{{ if ne .URL \"/\" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}')
    meta(property='og:site_name', content='{{ .Site.Title }}')
    meta(property='og:url', content='{{ .Permalink }}')
    | {{ if .IsPage }}
    meta(property='og:type', content='article')
    meta(property='og:article:published_time', content!='{{ .Date.Format \"2006-01-02T15:04:05Z07:00\" | safeHTML }}')
    | {{ range .Params.tags }}
    meta(property='og:article:tag', content='{{ . }}')
    | {{- end -}}
    | {{- end -}}

    | {{ if .Params.tileImage }}
    meta(property='og:image', content='{{ .Site.BaseURL }}{{ .Params.tileImage }}')
    | {{ else }}
    | {{ if .Params.imageurl }}
    meta(property='og:image', content='{{ .Site.BaseURL }}images/{{ .Params.imageurl }}')
    | {{ end }}
    | {{ end }}

mixin twitterData
    | {{ if .IsPage }}
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@{{ .Site.Params.twitter }}')
    meta(name='twitter:creator', content='@{{ .Site.Params.twitter }}')
    meta(name='twitter:title', content='{{ .Title }}')
    meta(name='twitter:description', content='{{ .Description }}')
    meta(name='twitter:url', content='{{ .Permalink }}')
    | {{ else }}
    meta(property='og:type', content='website')
    | {{ end }}

mixin generalMeta
    | {{ if .Description }}
    meta(name='description', content='{{ .Description }}')
    | {{ else }}
    meta(name='description', content='{{ .Site.Params.description }}')
    | {{ end }}

mixin rss
    | {{ if ne .URL '/' }}
    link(href='{{ .Site.BaseURL }}index.xml', rel='alternate', type='application/rss+xml', title='{{ .Site.Title }}')
    | {{ end }}

    | {{ if .IsNode }}
    link(href='{{.RSSLink}}', rel='alternate', type='application/rss+xml', title!='{{ if ne .URL \"/\" }} {{ .Title }} &middot; {{ end }}{{ .Site.Title }}')
    | {{end}}

mixin pageMetadata
    link(rel='canonical', href='{{ .Permalink }}')
    +openGraphData
    +twitterData
    +generalMeta

    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    +rss

mixin prefetchFonts
    link(rel='prefetch', href='/fonts/roboto-slab-v6-latin_latin-ext-regular.woff2')
    link(rel='prefetch', href='/fonts/raleway-v11-latin_latin-ext-500.woff2')
    link(rel='prefetch', href='/fonts/noto-sans-v6-latin_latin-ext-italic.woff2')
    link(rel='prefetch', href='/fonts/raleway-v11-latin_latin-ext-regular.woff2')