mixin gaugesTracking
    | {{ if .Site.Params.gaugesId }}
    | {{ if .Site.Params.gaugesSrc }}
    script.
        var _gauges = _gauges || [];
        var gSetup = function () {
            var t = document.createElement('script');
            t.type = 'text/javascript';
            t.async = true;
            t.id = 'gauges-tracker';
            t.setAttribute('data-site-id', '{{ .Site.Params.gaugesId }}');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://{{ .Site.Params.gaugesSrc }}/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        };
        window.setTimeout(gSetup, 800);
    | {{ end }}
    | {{ end }}