include ../mixins/navigation
include ../mixins/metadata
include ../mixins/iconMetadata
include ../mixins/comments
include ../mixins/tracking
doctype html
- var now = new Date().getTime()
- var tock = (now + "").substr(7)
html
    head
        meta(charset='utf-8')
        //meta(name='viewport', content='width=100%, initial-scale=1, shrink-to-fit=yes, target-densitydpi=device-dpi, user-scalable=no')
        meta(name='viewport', content='width=device-width, shrink-to-fit=no, user-scalable=yes, minimum-scale=1.0')
        title {{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
        meta(http-equiv='x-ua-compatible', content='ie=edge')

        link(href='/css/blug.css?' + tock rel='stylesheet')
        //script(src='/module/system-production.js')
        script(src='/js/bundled.js?' + tock)
        //script.
            SystemJS.import('/js/bundle.js');

        +commentsScript
        +favIcon
        +pageMetadata
        //+prefetchFonts
        block meta

    body#primary-content
        #layout.pure-g
            input#menu-switch(type='checkbox', name='menu-switch', checked=false)

            #pj-wrap.page-wrap.content.pure-u-1.pure-u-md-5-5
                #centerBody.posts.textualContent.pj-container(role='main')
                    block content

            nav#menu(role='navigation')
                .menu-brand
                    h1
                        a(href='/')
                            img(src='/img/{{ .Site.Params.icon }}')
                            | {{ .Site.Title | urlize }}
                    strong.strapline {{ .Site.Params.tagline }}

                label#menu-toggle.close(for='menu-switch')
                +sideMenu
                .recently
                    h4
                        em Other
                +customMenu
                //+tagsMenu
                //+textSizes

            block footer
                +footer
        //include bodyScript
        +gaugesTracking