extends base
include ../mixins/pagination
include ../mixins/navigation

block content
    | {{ $paginator := .Paginate ( where (.Data.Pages) ".Params.featured" "!=" true ) }}

    article.index
        +breadcrumbs('Everything')
        +featured()
        #blocks.animated.fadeIn(data-transition='fadeIn')

            | {{ $featured := where (.Data.Pages) ".Params.featured" true }}
            +listUnpagedItems('$featured')
        #blocks.animated.fadeIn(data-transition='fadeIn')
            +recently()

            +prevPage()
            +listItems('$paginator')
            +nextPage()
