extends ../base
include ../../mixins/navigation
include ../../mixins/article

block content
    | {{ $baseurl := .Site.BaseURL }}
    article.single
        +titlecrumbs('{{ .Title }}', '{{ .Section }}')
        +articleSubtitle
        +postMetadata

        section.article.animated.fadeIn

            +articleImage
            +articleDescription
            | {{ .Content }}

    footer.post-footer
        +articleTags
        +articleShare

    +articleComments

block footer